[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "M2SMF"]
	path = M2SMF
	url = https://github.com/cran/M2SMF
[submodule "M2SMJF"]
	path = M2SMJF
	url = https://github.com/cran/M2SMJF
[submodule "OSNMTF"]
	path = OSNMTF
	url = https://github.com/cran/OSNMTF
